body{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 0px;
margin: 0px;
text-align: left;
}
a{
    text-decoration: none;
}
h1{
    font-size: 42px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 16px;    
    margin-bottom: 20px;
}






.logo{
    width: 100px;
    height: auto;
}
.header{
    padding:10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: white;
}
.navs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 16px;

}
.nav-link{
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.nav-link:hover{
    text-decoration: underline;
    transform: scale(1.08);
}
.active{
    color: goldenrod;
}
.active:hover{
    text-decoration: none;
    transform: scale(1);
}
 button{
    width: 100px;
    height: 35px;
    background-color: goldenrod;
    color: black;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: 0.5px;
    box-shadow: 0px 4px 4px rgb(210, 208, 208);
    border: none;
    transition: all 0.3s ease;
}
button:hover{
    background-color: rgb(34, 31, 31);
    color: goldenrod;
    transform: scale(1.03);
    box-shadow: 0px 6px 6px rgb(210, 208, 208);
}







.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    
}
.right-hero{
    width: 47%;
    height: auto;
    padding:0px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.hero-img{
    width: auto;
    height: 560px;
}
.left-hero{
    width: 53%;
    height: auto;
    padding:40px 35px 40px 60px;
}
.hero-h1{
    font-size: 45px;
    margin-bottom: 20px;
    color: rgb(6, 6, 6);
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
}
.next{
    color: goldenrod
}
.hero-p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    color: rgb(61, 61, 61);
    line-height: 1.3;
    letter-spacing: -0.7px;

}   





.service-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    background-color: goldenrod;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 40px 0px;
}
.card-services{
    width: 350px;
    height: 300px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0);
}
.img-card{
    width: 150px;
    height: auto;
    border-radius: 36px;
    border: 2px solid black;
}
.text-card{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}
.card-img{
    width: 100px;
    height: auto;
    margin-top: 30px;
}







.footer{
    background-color: black;
    color: rgb(126, 126, 126);
    text-align: center;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px 10px;
    gap: 20px;
    border-top: 2px solid rgb(207, 207, 207);
}
.top-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.footer-logo{
    width: 80px;
    height: auto;
}
.left-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.social{
       width: 30px;
    height: auto;
}

.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}
.social-footer{
    color: white;
}
.bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}
.half-1, .half-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.footer-p{
    font-size: 12px;
    
}


















.gallery-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px 0px;
    padding: 1px 0px;
    background-color: black;
}
.rows{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 303px;
    margin: 0px;
    padding: 0px;
}
.gallery-img{
    width: auto;
    height: 100%;
    border: 1px solid black;
}
.long{
    width: 246px;
}

.menu-img{
    width: 100%;
    height: auto;
}























.hero-menu{
    text-align:center;
    padding:10px 20px 30px;
}
.hero-menu h1{
    font-size:60px;
    color: goldenrod;
}

.menu-wrapper{
    gap:30px;
    background-color: black;
    color: white;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:30px;
    padding: 20px 50px 80px;
}

.menu-section{
    background:black;
    color: white;
    border:1px solid  goldenrod;
    border-radius:15px;
    padding:20px;
    width:300px;}
.menu-section h2{
    color: goldenrod;
    margin-bottom:15px;
    border-bottom:1px solid  goldenrod;
    padding-bottom:5px;
}

.item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:10px 0;
    font-size:16px;
}
.item img{
    width:60px;
    height:60px;
    object-fit:cover;
    border-radius:10px;
    margin-right:15px;
}
.item span{
    display:block;
}
.price{
    color: goldenrod;
    font-weight:600;
}

